.hov-add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nopad {
  padding-left: 0px;
}

.solved {
  background-color: rgb(65, 143, 65);
  color: white;
}
