<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fa fa-save"></i> saveThis
  </a>
</nav>
<div class='container-fluid mt-2'>
  <div class='row'>
    <div class='col-sm-6 col-lg-4 col-xl-3 nopad'>
      <div class="sidebar">
        <div class="container">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Problems" aria-label="Search Problems"
              [(ngModel)]="term">
            <div class="input-group-append">
              <i class="fa fa-search input-group-text"></i>
            </div>
          </div>
          <div style="overflow-y: auto; height: auto;">
            <ul class="list-group">
              <ng-container *ngFor="let item of problem | filter:term">
                <a [routerLink]="['detail',item.id]" class="list-group-item list-group-item-action ">
                  <strong>{{item.title}} <i class="fa fa-check-circle" style="color: green" *ngIf="item.status === 1"></i></strong><br>
                  <span style="font-size: 12px">Created On: {{getHumanReadableDate(item.createdDate)}}</span>
                </a>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 col-lg-8 col-xl-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
    <button class="btn btn-primary hov-add-btn" data-toggle="modal" data-target="#modalAddNewProblem"><i class="fa fa-plus"></i></button>
  </div>
</div>


<!-- Add New Problem Modal -->
<div class="modal fade" id="modalAddNewProblem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Problem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form name="problemModel" #addProblemForm="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" placeholder="Problem Title" name="title" [(ngModel)]="problemModel.title"
                #title="ngModel" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" class="form-control" placeholder="Problem Description" name="description"
                [(ngModel)]="problemModel.description" #title="ngModel"></textarea>
            </div>
            <div class="form-inline mb-2">
              <label for="errorCode" class="col-2">Error Code</label>
              <input type="text" class="form-control col-3" placeholder="Error Code" name="errorCode" [(ngModel)]="problemModel.errorCode"
                #title="ngModel">
              <label for="technology" class="col-3">Technology</label>
              <input type="text" class="form-control col-4" placeholder="Technology" name="technology" [(ngModel)]="problemModel.technology"
                #title="ngModel">
            </div>
            <div class="form-group">
              <label for="problemDetail">Details</label>
              <textarea type="text" class="form-control" placeholder="Problem Details" name="problemDetail" [(ngModel)]="problemModel.problemDetail"
                #title="ngModel"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="btnSaveIt()" data-dismiss="modal">Save
          it</button>
      </div>
    </div>
  </div>
</div>
