<h1>{{detail.title}}</h1>
<h6>Created On: {{getHumanReadableDate(detail.createdDate)}}</h6>
<hr>
<h5>Description</h5>
<p>{{detail.description}}</p>
<h5>Error Code</h5>
<p>
  <code>{{detail.errorCode}}</code>
</p>
<h5>Technology</h5>
<p>{{detail.technology}}</p>
<h5>Detail</h5>
<p>{{detail.problemDetail}}</p>
<h5>User: {{detail.userId}}</h5>

<ng-container>
  <button class="btn btn-primary mr-2" *ngIf="checkStatus(detail.status); else dontShow" (click)="setProblemId()"
    data-toggle="modal" data-target="#modalAddSolution">Add
    Solution</button>
</ng-container>
<ng-template #dontShow>
  <button class="btn btn-success mr-2" (click)="viewSolution()" data-toggle="modal" data-target="#modalViewSolution">View
    Solution</button>
</ng-template>
<button class="btn btn-warning mr-2">Edit Problem</button>
<button class="btn btn-danger mr-2">Delete Problem</button>

<!-- Add Solution Modal -->
<div class="modal fade" id="modalAddSolution" tabindex="-1" role="dialog" aria-labelledby="modalAddSolutionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddSolutionLabel">Add Solution for {{'Problem'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form name="solutionModel" #addProblemForm="ngForm">
            <div class="form-group">
              <label for="problemDetail">Solution</label>
              <textarea type="text" class="form-control" placeholder="Solution." name="problemDetail" [(ngModel)]="solutionModel.solutionDetail"
                #title="ngModel"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="btnAddSolution()" data-dismiss="modal">Save
          it</button>
      </div>
    </div>
  </div>
</div>



<!-- View Solution Modal -->
<div class="modal fade" id="modalViewSolution" tabindex="-1" role="dialog" aria-labelledby="modalViewSolutionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalViewSolutionLabel">Solution for {{'Problem'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          {{displaySolution.solutionDetail}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
